@use "./header.scss";
@use "./header-media.scss";
@use "./section.scss";
@use "./section-media.scss";
@use "./footer.scss";
@use "./footer-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");


$primary-font-stack: 'Hind Siliguri',
sans-serif;
$secondary-font-stack: 'Work Sans',
sans-serif;
$primary-font-size: 40px;
$secondary-font-size: 16px;
$main-color: #333;
$primary-color: #fff;
$secondary-color: #f07566;

html,
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-width: 375px;
    background-image: url(../img/svg/bg-yellow.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 422px 461px;

    @media screen and (min-width: 900px) {
        background-size: 844px 921px;
    }
}

.container {
    padding: 16px;
    min-width: 329px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 900px) {

        padding: 25px;
        max-width: 1170px;
        width: 100%;
        min-width: 800px;
        margin: 0 auto;
    }
}

.header.menu-open+.container {
    padding-top: 120px;
}

@media screen and (min-width: 900px) {

    .padding {

        &_company {
            gap: 80px;
            padding-top: 194px;
        }

        &_about {
            padding-top: 352px;
        }

        &_portfolio {
            padding-top: 251px;
        }

        &_service {
            grid-template-columns: 1fr 1fr;
            grid-gap: 130px;
            justify-items: center;
            padding-top: 256px;
        }

        &_reviews {
            padding-top: 227px;
        }

        &_articles {
            padding-top: 171px;
        }

        &_team {
            padding-top: 119px;
        }
    }
}

.bg-blue {
    padding-top: 55px;
    background: url(../img/svg/bg-blue.svg) no-repeat;
    background-size: 363px 349px;
    background-position-x: -60px;

    @media screen and (min-width: 900px) {
        margin-top: 141px;
        padding-top: 0;
        background: url(../img/svg/bg-blue.svg) no-repeat;
        background-size: 725px 697px;
        background-position-x: -60px;
        height: 697px;
    }

}

.iframe {
    display: none;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 5;

    @media screen and (min-width: 900px) {
        display: none;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -477px;
        width: 953px;
        height: 480px;
        border-radius: 40px;
        box-shadow: 30px 20px 20px 5px rgba(0, 0, 0, 0.26);
    }
}

.slick-dots {
    position: relative;
}

.slick-dots li button::before {
    margin-top: 64px;
    font-size: 32px;
    color: $secondary-color;
}

.slick-dots li.slick-active button:before {
    font-size: 55px;
    color: $secondary-color;
    opacity: 1;
}

.slick-next:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -195px;
    right: 157px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $secondary-color;
    background-image: url(../img/svg/arrow-next.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;

    @media screen and (min-width: 900px) {
        right: 390px;
    }

    @media screen and (max-width: 400px) {
        right: 137px;
    }
}

.slick-prev:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -195px;
    left: 157px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $secondary-color;
    background-image: url(../img/svg/arrow-prev.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;

    @media screen and (min-width: 900px) {
        left: 24px;
    }

    @media screen and (max-width: 400px) {
        left: 137px;
    }
}

.slick-prev:hover::before {
    content: '';
    background-color: #4FB282;
}

.slick-next:hover::before {
    content: '';
    background-color: #4FB282;
}

@keyframes shake {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-15deg);
    }

    20%,
    40% {
        transform: rotate(15deg);
    }
}